@{
    ViewData["Title"] = "INICIO - ENEKO LÓPEZ DE SUBIJANA";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-2">
        <h2><b>Tarea 3:</b></h2>
        <p>
            <b>
                <i>
                    Realiza una aplicación con ASP NET CORE MVC añadiendo un slide de la página de bootstrap en la página de inicio, textos generados de la página lorem ipsum
                    y añade una nueva página llamada "Galería" que contenga una galería de imágenes de tu elección para ello también puedes utilizar bootstrap, recuerda que para ver
                    esta página deberás modificar el layaout, y además añadir la llamada de la página "Galería" en el HomeController de la carpeta de controladores.
                    Y por último, no olvides añadir tu nombre en la página de inicio, y modificar los estilos a gusto.
                </i>
            </b>
        </p>
    </div>
    <div class="col-md-5">
        <h2>Columna 1 - Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id interdum diam. Vivamus euismod quam nec metus blandit elementum. Cras aliquet sodales purus, ut dapibus lectus sodales a. Duis aliquam euismod sem ut auctor. Donec tellus nunc, porttitor a lorem sed, tincidunt molestie lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque cursus leo lacus, at volutpat orci lobortis vitae.</p>
        <p>Fusce porta consectetur ligula, ac bibendum ipsum aliquet at. Donec sit amet leo ac sapien fermentum lacinia. Duis non risus vitae lacus feugiat blandit in ac sem. Suspendisse condimentum condimentum neque non luctus. Nulla lobortis purus non porta facilisis. Nulla sed urna a lectus maximus scelerisque eget non sem. Vestibulum dictum vitae erat in convallis. Aenean erat eros, consectetur quis feugiat ac, suscipit ac ligula. Proin porttitor rhoncus scelerisque. Sed commodo elit ac scelerisque molestie. Pellentesque tempor vestibulum mattis. Morbi vel vulputate justo. Ut porttitor in purus et mattis. Quisque vulputate purus at dolor dictum placerat. Phasellus feugiat, nunc id efficitur ultricies, libero urna pulvinar sem, eu convallis ante mauris et lectus.</p>
        <p>Pellentesque ut felis sed leo tincidunt convallis ut eget justo. In maximus ante elementum leo iaculis, vel sollicitudin odio auctor. Nam ac enim vel dolor congue sagittis eget quis ante. Quisque ullamcorper iaculis ante, vel mattis magna suscipit sed. Donec elementum id erat sed egestas. Donec in mi dictum, fringilla ipsum vitae, egestas odio. Morbi mauris ante, tristique et blandit eget, eleifend eget lectus. Maecenas ullamcorper leo diam, non cursus mauris accumsan ut. Suspendisse nec massa vitae metus elementum cursus. Phasellus id arcu tellus. Praesent semper tellus a cursus cursus. </p>
    </div>
    <div class="col-md-5">
        <h2>Columna 2 - Lorem Ipsum</h2>
        <p>Phasellus quis turpis a nisl commodo lacinia a id neque. Vivamus accumsan hendrerit nibh a feugiat. Aliquam mollis libero velit, ac faucibus ante aliquet eget. Proin id malesuada odio. Nunc vehicula, turpis tempus porttitor laoreet, ipsum turpis dictum est, et mattis turpis tortor maximus ante. Donec nibh leo, maximus a eros at, euismod interdum leo. Cras mollis elit lorem, quis luctus quam ultrices a.</p>
        <p>Nulla posuere nibh neque, quis tincidunt lorem fringilla id. Duis posuere velit vel magna molestie sagittis. In sagittis ipsum urna, quis bibendum turpis imperdiet ac. Nunc convallis sem et aliquam mollis. Quisque eget pellentesque libero, vitae finibus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sed enim at augue ultricies molestie eu in libero. Ut est enim, venenatis et sollicitudin egestas, ornare vitae metus.</p>
        <p>Ut sollicitudin, diam et consequat iaculis, urna risus cursus nisi, eget pretium leo lorem vel augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi ut nulla nec lacus auctor tempor id ac leo. Nunc rhoncus tellus ac nunc pulvinar, ut porta nulla pulvinar. Pellentesque at urna lacinia, aliquam tellus a, faucibus ipsum. Fusce auctor, lorem vel vestibulum interdum, mi augue varius lacus, sed auctor dolor massa molestie erat. Vivamus a turpis semper, ornare erat eu, sodales nulla. Quisque metus felis, pulvinar eu aliquam quis, iaculis non sapien. Integer quis tellus hendrerit, maximus libero non, commodo lectus. Integer efficitur ac nibh eu placerat.</p>
    </div>
</div>


